<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to products_path do %>
      <%= image_tag "E-Mobile_logo.png", alt: "logo", width: 130 %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
         <li class="nav-item dropdown">
            <i class="fa-solid fa-bars" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Action", new_user_registration_path, class: "dropdown-item" %>
                <%= link_to "Action", new_user_registration_path, class: "dropdown-item" %>
                 <%= link_to "Logout", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
              </div>
          </li>
        <% else %>
        <div class="nav-item">
          <li class="nav-item dropdown">
            <i class="fa-solid fa-right-to-bracket" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <%= link_to "Sign Up", new_user_registration_path, class: "dropdown-item" %>
                  <%= link_to "Login", user_session_path, class: "dropdown-item" %>
              </div>
          </li>
        </div>
        <div class="nav-item">
          <li class="nav-item dropdown">
            <i class="fa-solid fa-bars" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <%= link_to "Action", new_user_registration_path, class: "dropdown-item" %>
              </div>
          </li>
        </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
