<div class="entire-show m-5 p-3 d-flex justify-content-center">
 <div class="show-container shadow card m-5 p-3">
  <div class="row">
    <div class="col-md-5">
      <img src="<%= cl_image_path @product.photo.key, height: 400, crop: :fill %>" class="card-img-top" alt="product">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h2><%= @product.model %></h2>
        <p><strong>Price:</strong> <%= @product.price %></p>
        <p><strong>Location:</strong> <%= @product.location %></p>
        <p><strong>Category:</strong> <%= @product.category %></p>

        <div class="button mt-4">
          <% if user_signed_in? && @product.user_id == @user.id %>
            <%= link_to "Edit", edit_product_path(@product), class: "btn btn-primary" %>
            <%= link_to "Delete",
              product_path(@product), class: "btn btn-danger",
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
          <% end %>
        </div>
      </div>
    </div>

  </div>

</div>
</div>
