<!DOCTYPE html>
<html>
  <head>
    <title>RailsEMobile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet"> %>
  </head>

  <body>
    <div class="main">
      <%= render 'shared/navbar' %>
      <%= yield %>
    </div>
    <div class="footer">
      <div class="last-line">
        <p>&copy; 2023 E-Mobile. All rights reserved.</p>
        <p><a href="privacy.html">Privacy Policy</a> | <a href="sitemap.html">Sitemap</a> | <a href="terms.html">Terms</a> | <a href="cookiepreferences.html">Cookie preferences</a></p>
      </div>
      <div class="footer-links">
        <p>Follow us!</p>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </body>
</html>
